{% extends 'task/base.html' %}
{% load static %}
{% block content %}


{% if request.user.is_authenticated %}
<h3 class=" header ms-5 mt-5 text-center alert alert-warning">You have <i>{{count_task}} incomplete tasks</i></h2>





<br>

<hr>
<form action="" method="GET" class="ms-5 ">
  <input type="text" name="search_area">
  <input type="submit" value="Search" name="search">
</form>
<br>
<table class="table ms-5">
  <thead>
    <tr>
     
      <th scope="col">Task</th>
      <th scope="col">Action</th>
      <th scope="col">Status</th>
    
    
      
  </thead>
  <tbody>
    <tr>
      {% for list in lst  %}
      <td>{{list.title}}</td>
      
      <td> <a href="{% url 'det' list.id %}" class="btn btn-success "><i class="fa fa-eye " style="font-size:18px "> View</i></a>
           <a href="{% url 'up' list.id %}" class="btn btn-success"><i class="fa fa-edit" style="font-size:18px "> Edit</i></a>
          <a href="{% url 'del' list.id %}" class="btn btn-danger  "><i class="fa fa-trash-o" style="font-size:18px "> Delete</i></a></td>
      <td class=" text-dark  btn-danger">{{list.status}}</td>    

    </tr>

 


    {% empty %}
    <h2 class="ms-5">No Task Left</h2>
  
    {% endfor %}
   
    
  </tbody>
</table>








<br>

<div class="ADD-TASK ms-5">
  <a href="{% url 'add' %}" class="btn btn-primary">Add Task</a>
</div>









<!--if user is not authenticated -->
{% else %}

<h1 class="ms-3 mt-2 text-center alert alert-primary">To Do list</h1>
<a href="{% url 'sig' %}" class="ms-3 btn btn-primary">SignUp</a>
<a href="{%  url 'log' %}" class="ms-3 btn btn-primary">LogIn</a>
{% endif %}



{% endblock content %}
