{% extends 'task/base.html' %}
{% block content %}
<div class="col-lg-3 shadow mx-auto p-0 mt-5">
<h2 class=" mt-5 text-center mx-auto">SignUp</h2>
<form action="" method="post" class=" ms-5 mt-5 text-center form-label" >
    {% csrf_token %}
    {% for form in fm %}
    {{form.label_tag}}
    {{form}}
    {{form.error}}
    <br>
    <br>
    {% endfor %}
    <div class=" ms-5 me-5 alert alert-primary rounded-pill">
    <input type="submit" value="SignUp" class="btn btn-outline-primary rounded-pill border-0 fs-5 ">
</div>
   
</form>
<div class="text-center ms-5">
<a href="{% url 'log' %}" class="">Alreday have an account?</a>
</div>
<br>
</div>
{% endblock content %}